.lattest-article-container{


    background-color: #f5f4ee;
}
.row-1 div{
    gap: 2px;
}
.articatl-inner-container{
    margin-bottom: 50px;
    padding-bottom: 20px;
  

}
.articatl-inner-container p{

    margin-top: 0px;
    padding-top: 10px;
    font-size: 25px;
    font-weight: 600;

}

    
